.container__profil {
    
    &__main {
        min-height: 100vh;
        display: flex;
        margin: auto;
        &__center {
            display: flex;
            &__graphique {
                width: 76%;
            }
        }
        &__all {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 5rem;
        }
    }
    &__bottom {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1500px) {
    .container__profil {
    
        &__main {
            &__center {
                display: flex;
                flex-direction: column-reverse;
                &__graphique {
                    width: 91%;
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            margin-left: 0;
            max-width: 91%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .container__profil {
    
        &__bottom {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}