.container__profil {
    
    &__main {
        min-height: 100vh;
        display: flex;
        margin: auto;
        &__center {
            display: flex;
            &__graphique {
                width: 76%;
            }
        }
        &__all {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 5rem;
        }
    }
    &__bottom {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}