.container__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: black;
    width: 7rem;

    &--text {
        position: fixed;
        color: white;
        transform: rotate(270deg);
        bottom: 8rem;
        width: 11rem;
    }
}