@import "../../sass/main.scss";

.container__chartRadar {
    background-color: #282D30;
    display: flex;
    align-items: center;
    border-radius: $radius-medium;
    width: 30%;

    & .recharts-polar-angle-axis-tick-value {
        fill: white;
        font-weight: 500;
    }
}

@media screen and (max-width: 1300px) {
    .container__chartRadar{
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }
}