@import "../../sass/main.scss";

.container__chartBar {
    background-color: #E5E5E5;
    border-radius:  $radius-medium;

    & > p {
        font-weight: 500;
        padding-top: 1.5rem;
        padding-left: 0.5rem;
        margin: 0;
    }
}

.recharts-responsive-container {
    display: flex;
    margin-top: 1.5rem;
}