@import "../../sass/main.scss";

.container__chartBar {
    background-color: #E5E5E5;
    border-radius:  $radius-medium;

    &__text {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-left: 0.5rem;
        margin: auto;
        margin-bottom: 1rem;
        font-size: 15px;

        &__legend {
            display: flex;
            justify-content: space-between;

            &--info {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #74798C;
                &:before {
                    display: inline-flex;
                   content: "";
                   width: 8px;
                   height: 8px;
                   margin-right: 10px;
                   border-radius: 5px;
                   background-color: black;
                   
               }
               &:nth-child(2) {
                margin-left: 1rem;
               }
               &:nth-child(2):before {
                       background-color: red;
               }
            }
        }

    }
}

.recharts-responsive-container {
    display: flex;
    margin-top: 1.5rem;
    max-width: 90%;
    margin: auto;
}

.custom-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: 4rem;
    color: white;
    background-color: $primary-color;
}